<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="\test1\public\assets\CSS\End.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div class="centered">
    <h2> The End! </h2><br />
</div>
<body>


<div class="transbox">


    <p></p><br />


    <!-- Change the text, but for now it is this. -->
    A ray of sunlight. A beacon of golden hope.<br />
    The path is clear now , the creator is destroyed.<br />
    Now it is time to carve your own future!<br />
    Until what sleeps is hatched again from the stars...
</div>

</body>
</html>
