<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="\test1\public\assets\CSS\FinalBattle.css">

<head>
    <meta charset="UTF-8">

    <title>Stage 2</title>


</head>
<div class="centered">
    <h2> The End! </h2><br />
</div>
<body>


<div class="transbox">


    <p>Uppon arrival you notice a strange presence!</p><br />


    <!-- Change the text, but for now it is this. -->
    Eldritch Horror - Welcome home, such as it is. These corrupted lands,you are bound to them.<br />
    I was lord of this place, before you maggots made it your domain!<br />
    Now i will reclaim what is rightfully mine!<br />
    Aeneas - Never! I will not let you!<br />
    Orc - My tribe must be avenged!<br />
    Eldritch Horror - The shadows are my dominion. You have no chance.<br />
    Orc - The shadows hide the guilty and guilt-ridden alike...<br />
    Eldritch Horror - You are wiser than the rest of your race.<br />
    Terror and Madness can find cracks in the sturdiest of honors, the most resolute of minds...<br />
    Let's see what you are made of.<br />
    Aeneas - Even the spirits can feel pain. Even the dead can die again!

    <form action="../battles/FinalBattle.php" method="POST">
        <div class="submit">
            <input class="search" name="final" type="submit" value="Onwards!">
        </div>
    </form>
</div>


</body>
</html>