<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="\test1\public\assets\CSS\OrcStage.css">

<head>
    <meta charset="UTF-8">

    <title>Stage 2</title>


</head>
<div class="centered">
    <h2> BEWARE! </h2><br />
</div>
<body>


<div class="transbox">


    <p>The cave you found is the hideout of a tribe!</p><br />


    <!-- Change the text, but for now it is this. -->
    Tribe Leader - Filthy orc! What are you doing here?<br />

    Orc - I am searching for shelter and some food.<br />
    Tribe Leader - Lies! All orcs that have came here want to destroy us!<br />
    All of them want our treasure! Your body will serve as a warning to others!<br />
    Orc - Do not make me angry! I want only shelter, trinkets and baubles aren't valuable to me.<br />
    Tribe Leader - Kill him!<br />
    <form action="../battles/orcBattle.php" method="POST">
        <div class="submit">
            <input class="search" name="forHorde" type="submit" value="Battle!">
        </div>
    </form>
</div>


</body>
</html>