<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="\test1\public\assets\CSS\Reunion.css">

<head>
    <meta charset="UTF-8">

    <title>Stage 2</title>


</head>
<div class="centered">
    <div class="transbox">
    <h2> REUNION! </h2><br />
    <p>An unexpected foe approaches!</p><br />


    <!-- Change the text, but for now it is this. -->
    Aeneas - You again!<br />

    Orc - I don't want to fight.<br />
    Aeneas - Get out of my way, i have to save my hometown.<br />
    Orc - I know that town, once my tribe lived there. I too want to save it.<br />
    Aeneas - How can i trust you?<br />
    Orc - There is a forge nearby, i will take us there so we can prepare.<br />
    The task ahead is terrible, and weakness cannot be tolerated!<br />
    Aeneas - Fine then, a little hope, however desperate, is never without worth.<br />
    What has happened to our town?<br />
    Orc - The thing that invaded is more horrendous, than I can describe.<br />
    Towering. Fierce. Terrible. Nightmare made material.<br />
    Let's not waste time!<br />
        <form action="../templates/shopStage.phtml" method="POST">
            <div class="submit">
                <input class="search" name="forHorde" type="submit" value="Go!">
            </div>
        </form>
</div>
</div>
<body>


<div class="transbox">




</div>


</body>
</html>